{% extends 'fam/base.html' %}

{% block head %}
<style>
    img{
        width: 200px;
        height: 200px;
        margin-left: 420px;
    }
    .s{
        color: #333;
        font-size: 10px;
        margin: 5px;
        font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
        font-size: 16px;  
        
    }
    span{
        margin-left: 30px;
        text-align: center;
    }
</style>
{% endblock %}

{% block content %}
    <img src="https://i.ibb.co/Bj98NYp/download.jpg" alt="download" border="0">
    <div class="s">We would like to express our gratitudes to our teacher<strong> Mrs. Rupali Bharti Ma'am </strong> who gave us the opportunity to do this wonderful project on the topic <strong>Faculty Management</strong>. The project helped us to learn basic principals of software engineering and We learned about many new things while doing the project.</div>
    </br><div class="s" style="font-size: 20px"><strong>Name Of Group Members :-</strong></div></br>
    <div class="s">1. 18100BTCSES02774&nbsp;<span>Ashutosh Singh Tomar</span></div>
    <div class="s">2.&nbsp;18100BTCSES02789  <span>Jayesh Sharma</span></div>
    <div class="s">3.&nbsp;18100BTCSES02809  <span>Ritwik Sood</span></div>

    {% endblock %}